body {
  border: solid 1px black;
}
main {
  border: solid 2px pink;
  margin: 20vh 20vh 20vh 20vh;
  height: 75vh;
  align-self: center;
  vertical-align: middle;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
