* {
  box-sizing: border-box;
}

main {
  height: fit-content;
  width: fit-content;
  margin: 2vh auto;
  align-self: center;
  vertical-align: middle;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
.field {
  height: 10em;
  width: 20em;
  border-radius: 0%;
  align-items: center;
  justify-items: center;

  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

div {
  border: solid 2px #191970;
  background-color: #0818a8;
  border-radius: 10%;
  height: 5em;
  width: 5em;
  margin: 0.5em;

  box-shadow: 6px 4px 14px black;
  transition: all 0.4s ease-in-out;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
}

body {
  background-color: rgb(0, 0, 92);
}

.cards {
  animation: 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

@-webkit-keyframes flipV {
  0% {
    -webkit-transform: translateZ(0) rotateY(0);
    transform: translateZ(0) rotateY(0);
  }
  100% {
    -webkit-transform: translateZ(160px) rotateY(180deg);
    transform: translateZ(160px) rotateY(180deg);
  }
}

@keyframes flipV {
  0% {
    -webkit-transform: translateZ(0) rotateY(0);
    transform: translateZ(0) rotateY(0);
  }
  100% {
    -webkit-transform: translateZ(160px) rotateY(180deg);
    transform: translateZ(160px) rotateY(180deg);
  }
}

@media screen and (width <= 45rem) {
  div {
    border: solid 2px #191970;
    background-color: #0818a8;
    border-radius: 10%;
    height: 2.25em;
    width: 2.25em;
    margin: 0.5em;

    box-shadow: 6px 4px 14px black;
    transition: all 0.4s ease-in-out;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
  }
}

@media screen and (height <= 50rem) {
  div {
    border: solid 2px #191970;
    background-color: #0818a8;
    border-radius: 10%;
    height: 2.25em;
    width: 2.25em;
    margin: 0.5em;

    box-shadow: 6px 4px 14px black;
    transition: all 0.4s ease-in-out;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
  }
}

div::after {
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.6);
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  border-radius: 10%;
}

div:hover {
  transform: scale(1.2, 1.2);
}

div:hover::after {
  opacity: 1;
}
